.Toggle {
  text-align: center;
}

.ToggleSwitchBox {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}

.ToggleCheckbox {
  display: none;
}

.ToggleLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #bbb;
  border-radius: 20px;
}

.ToggleInner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.ToggleInner:before,
.ToggleInner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.ToggleInner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #cff80b;
  color: #1e1e1e;
}

.ToggleInner:after {
  content: "No";
  padding-right: 10px;
  background-color: #cff80b;
  color: #1e1e1e;
  text-align: right;
}

.ToggleSwitch {
  display: block;
  width: 24px;
  margin: 5px;
  background-color: #ff2257;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.ToggleCheckbox:checked + .ToggleLabel .ToggleInner {
  margin-left: 0;
}

.ToggleCheckbox:checked + .ToggleLabel .ToggleSwitch {
  right: 0;
}
